<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if result %}
        <script>
            location.href = "/";
        </script>
    {% else %}
        <script>
            alert("계정 정보를 다시 확인해주세요");
            history.go(-1);
        </script>
    {% endif %}
    
</body>
</html>