<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;
                font-size: 60pt;
                font-weight: bolder;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: chocolate;">
        <a style="text-decoration: none;
                  color: chocolate;" href="/">LOGO</a>
    </div>
    
    <div style="text-align: right;
    font-weight: bolder;
    font-size: 12pt;
    color: darkslategrey;
    margin-top: 20px;
    margin-bottom: 20px;">
    {% if request.session.username %}   <!-- 만약 세션에 계정 정보가 있으면 -->
        {{ request.session.userid }}
        ( {{ request.session.username }} ) 님, 로그인을 환영합니다
        <a href="logout"><button>로그아웃</button></a>

    {% else %}  <!-- 만약 세션에 로그인 정보가 없으면-->
        <form method="POST">
            {% csrf_token %}
            <input name="userid" placeholder="ID" size="10" required>
            <input name="userpw" placeholder="Password" size="10" type="password" required>
            <input type="submit" value="로그인">
        </form>            
    {% endif %}
</div>
    <hr>







</body>
</html>