<!DOCTYPE html>
<html>
    <head>
        <title>ex02</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <div style="font-size:20pt;
                    color:burlywood;">
        <fieldset>
            <legend>입력</legend>
            <form action="/ex03/" method="GET">
                <input name="name" placeholder="이름을 입력하세요" required><br>
                <input name="age" placeholder="나이를 입력하세요" required>
                <input type="submit" value="전송">
            </form>
        </fieldset>            
        </div>
    </body>
</html>