<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Django Test</title>
    </head>
    <style>
    h1{
        text-align: center;
        color: chocolate;
    }
    </style>
    <body>
        <h1>Django Model Test</h1>

        <table border="1" width="500px" height="150px" cellpadding="7" cellspacing="0">
            <tr>
                <th width="10%">No</th>
                <th width="45%">이름</th>
                <th>나이</th>
            </tr>
            <tr>
                <td>1</td>
                <td>이지은</td>
                <td>27</td>
            </tr>
            <tr>
                <td>2</td>
                <td>홍진호</td>
                <td>37</td>
            </tr>
        </table>
    </body>
</html>