<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <p style="text-align: center;">
            <input name="userid" placeholder="계정을 입력하세요" required>
        </p>
        <p style="text-align: center;">
            <input name="userpw" placeholder="비밀번호를 입력하세요" type="password" required>
        </p>
        <p style="text-align: center;">
            <button style="width: 165px;
                           height: 30px;
                           color: white;
                           background: chocolate;
                           font-weight: bolder;
                           border: 0;">로그인</button>
        </p>
    </form>
</body>
</html>