<!DOCTYPE html>
<html>
    <head>
        <title>INDEX</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div style="width: 500px;
                    height: 100px;
                    background: burlywood;
                    margin: auto;
                    ">
        <h1 style="text-align:center;
                   color: floralwhite;
                   font-size:40pt;
                   font-family: Comic Sans MS;
                   vertical-align: middle;">
                   ITBANK Django</h1>
        </div>
        <hr>
    </body>
</html>